{% extends "commerce/base.html" %}


{% block content %}
    <h2>Votre Panier</h2>
    <a href="{% url 'ajouter_panier' %}" class="btn btn-primary">Ajouter un produit</a>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Prix Unitaire</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in panier %}
                <tr>
                    <td>{{ item.produit.nom }}</td>
                    <td>{{ item.quantite }}</td>
                    <td>{{ item.produit.prix }} €</td>
                    <td>{{ item.produit.prix|floatformat:2|add:item.quantite }} franc</td>
                    <td>
                        <a href="{% url 'modifier_panier' item.pk %}" class="btn btn-warning btn-sm">Modifier</a>
                        <a href="{% url 'supprimer_panier' item.pk %}" class="btn btn-danger btn-sm">Supprimer</a>
                    </td>
                </tr>
            {% empty %}
                <tr><td colspan="5">Votre panier est vide.</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <h4>Total: {{ total|floatformat:2 }} €</h4>
{% endblock %}
